

.ReactModal__Body--open {
    overflow: hidden;
}

.dataSide {

    .rankColNumber {
        width: 4rem;
    }

    .rankColChannel {
        width: 12rem;
    }

    .rankColVideoName {
        width: 11rem;
    }

    .rankColViews {
        width: 8rem;
    }

    .rankColLikes,
    .rankColDislikes {
        width: 5rem;
    }

    .rankColPlay {
        width: 6rem;
    }
}

.dataDescription {
    font-size: 1.5rem;
}

.rankVerseHeader {
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    border: 1px solid $dataView;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1.3rem 0.5rem;
    color: $dataView; 

    p {
        text-align: center;
    }

    .rankHeaderCell {
        padding: 1rem;
    }

    .thumbUp {
        font-size: 1.5rem;
        color: #66CC66;
    }
    
    .thumbDown {
        font-size: 1.5rem;
        color: #FA6B6B;
    }
} 

.rankVerse {
    display: flex;
    align-items: center;
    border: 1px solid $dataView;
    padding: 0.5rem;
    height: 5rem;

    &[class^="rankVerse"]:nth-of-type(even) {
        background-color: #F0F0F0;
    }

    &[class^="rankVerse"]:last-of-type {
        margin-bottom: 3rem;
    }

    p {
        text-align: center;
    }

    .rankColVideoName {
        font-size: 0.9rem;
    }

    .rankCell {
        width: 8rem;
        padding: 0.5rem 0;
    }

    .playBtn {
        border-radius: 10px;
        width: 3rem;
        height: 2rem;
        color: $playBtn;
    }

    .playIcon {
        color: $playArrow;
    }

}

.videoFrame {
    width: 640px;
    height: 360px;
}

.btn-close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;

    &:focus {
        background-color: transparent;
    }
}

