$topBtn: #359ED6;
$topBtnLighten: #4cacdf;
$topBtnDarken: #E01A27;
$color4: #e94043;

button.topBtn {
    background-color: $topBtn;
}

button.topBtn:hover {
    background-color: $topBtnLighten;
}

button.topBtn:focus {
    background-color: $topBtnDarken;
}