$topBtn: #359ED6;
$topBtnLighten: #4cacdf;
$topBtnFocus: #E01A27;

button.topBtn {
    background-color: $topBtn;
}

button.topBtn:hover {
    background-color: $topBtnLighten;
}

button.topBtn:focus {
    background-color: $topBtnFocus;
}

